<div class="collaborators-list-container">
  <h2>Collaborators List</h2>

  <table class="collaborators-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Email</th>
        <th>Details</th>
        <th>Holidays</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let collaborator of collaboratorsList()">
        <td>{{ collaborator.name }}</td>
        <td>{{ collaborator.surname }}</td>
        <td>{{ collaborator.email }}</td>
        <td><button (click)="selectCollaborator(collaborator)" aria-label="See Details" class="details-button">🔍</button>        </td>
        <td><button (click)="showHolidays(collaborator)">🌴</button></td>
      </tr>
    </tbody>
  </table>
</div>
