<div *ngIf="visible()" class="projects-modal">
  <ng-container [ngSwitch]="context()">

    <ng-container *ngSwitchCase="'collaborator'">
      <h2>Projects for {{ selectedCollaborator()?.name }}</h2>
      <ul>
        <li *ngFor="let proj of associatedProjects()">
          <strong>{{ proj.title }}</strong> ({{ proj.acronym }}) <br />
          From: {{ proj.assocInitDate | date }} to {{ proj.assocEndDate | date }}
        </li>
      </ul>
    </ng-container>

    <ng-container *ngSwitchCase="'project'">
      <h2>Collaborators for {{ selectedProject()?.title }}</h2>
      <ul>
        <li *ngFor="let collab of associatedCollaborators()">
          <strong>{{ collab.name }} {{ collab.surname }}</strong><br />
          From: {{ collab.assocInitDate | date }} to {{ collab.assocEndDate | date }}
        </li>
      </ul>
    </ng-container>

  </ng-container>

  <button (click)="close()">Close</button>
</div>
